.details-panel-area{
	background: $dark-grey;
	height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;

	.details-content{
		padding: 0 1rem;
		max-width: 100%;
	}
	.mavis-field-label{
		font-weight: $font-weight-bold;
	}
	.mavis-field-value{
		padding-left: 5px;
		color: $iron;
	}
}
.tabs{
	font-weight: $font-weight-bold;
	position: relative;
	.tab-title{
		&.active a{
			box-shadow: inset 0 -7px 0 0 $button-hover-color;
			z-index: 1000;
			background-color: $dark-grey;
		}
	}
}
.details-content-area{
	border-top: 1px solid $button-hover-color;
	z-index: 0;
	width: 100%;
	margin: 0;
	.content{
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 1rem 1rem;
	}
	.img-div img{
		min-width: 100%;
		height: 250px;
		object-fit: cover;
		margin-bottom: 0.6rem;
	}
}
.mavis-fields-area{
	margin: 0.6rem 0;
}
.sub-asset-collection{
	margin: 0;
	padding: 0;
	li{
		a, div{
			margin-bottom: 0.8rem;
		}
		div{
			margin-top: -1.6rem;
		}
		a img{
			width: 20px !important;
			float: right;
		}
		hr{
			display: none;
		}
	}
	li.active{
		hr{
			display:block;
		}
	}
}