.action-menu-list{
	padding: 0;
	display: none;
	position: absolute;
	top: 38px;
	z-index: 1000000;
	/*&::before{
		border: solid 8px;
	    content: "";
	    display: block;
	    height: 0;
	    width: 0;
	    border-color: transparent transparent $button-color transparent;
	    border-bottom-style: solid;
	    position: absolute;
	    top: -16px;
	    z-index: 89;
	}*/
	&.pos-right{
		right: 0px;
		&::before{
	    	right: 3px;
		}
	}
	&.pos-left{
		left: 0;
		&::before{
	    	left: 3px;
		}
	}
	&.pos-top{
		top: -85px;
		&::before{
			top: 99px;
			z-index: 1000000;
			border-color: $button-color transparent transparent transparent;
		}
	}
	> li{
		list-style: none;
		z-index: 10000;
		position: relative;
		text-align: center;
		width: 130px;
		line-height: 2.6;
		background-color: $button-active-color !important;
		color: $base;
		&:hover{
			background-color: $button-hover-color !important;
			color: white;
		}
		a{
			color: $base;
			width: 100%;
			position: relative;
			line-height: 2.6;
		}
	}
}
.action-control{
	margin: 0.6rem 0;
	height: 20px;
	cursor: pointer;
	.control-select{
		float: left;
	}
	.control-action{
		float: right;
	}
	.control-select,
	.control-action{
		font-size: 0.6rem;
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			margin: 0;
			border-top: 1px solid #4f8ba3;
			color: $base;
			padding: 0.2rem 0.5rem;
			background-color: $button-color;
			border-right: 1px $jumbo solid;
			box-shadow: 0 1px 0 1px #1f3f50;
			img{
				height: $icon-size;
				width: $icon-size;
				margin-top: -3px;
			}
			&:hover{
				background-color: $button-hover-color;
				color: $white;
			}
			&:first-child{
				border-bottom-right-radius: 0;
				border-top-right-radius: 0;
				border-bottom-left-radius: 4px;
				border-top-left-radius: 4px;
			}
			&:last-child{
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
				border-bottom-right-radius: 4px;
				border-top-right-radius: 4px;
				border-right: 0;
			}
			&:only-child{
				@include border-radius(4px)
			}
		}
	}
}
