.asset-area{
	border-right: 1px $light-grey solid;
	overflow: none;
}
.asset-panel{
	padding: 0.4rem 0 0.4rem;
	height: 100vh;
	.asset-list-header{
		padding: 0 1rem;
		.asset-panel-title{
			line-height: 1;
		}
		.asset-header{
			align-content: space-around !important;
			padding: 0 0.8rem 0 0.3rem;
			margin-top: 0.6rem;
			label{
				margin-top: -0.5rem;
			}
			.clear-assets{
				font-size: 0.6rem;
				margin-left: 0;
			}
			.assets-action-items{
				margin-top: -25px;
				margin-right: -0.7rem;
				a{
					color: $base;
					font-size: $paragraph-font-size;
				}
			}
			img{
				width: $icon-size;
				height: $icon-size;
				margin-left: 5px;
			}
		}
	}
	.mavis-button{
		margin-left: 10px;
	}

	.adv-search{
		font-size: 70%;
	}
}
/*.asset-list-area{
	overflow-y: auto !important;
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
}*/
.asset-item-list{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	li:first-child .asset-item-container{
		border-top: 0;
	}
	li:last-child .asset-item-container{
		border-bottom: 1px solid $black;
	}
	.asset-item-container{
		box-shadow: inset 0 1px 0 0 $light-grey;
		border-top: 1px solid $black;
		padding: 0.2rem 0 0;
		height: 40px;
		position: relative;
		min-width: 220px;
		cursor: pointer;
		box-sizing: border-box;
		background-color: $mid-grey;
		clear: both;
		overflow-y: none !important;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		input[type="checkbox"] + label{
			margin: -0.2rem 0.4rem 0;
		}
		.item-expand{
		    float: left;
		    vertical-align: baseline;
		    @include transformY(0, 15%);
			color: $base;
			margin-right: 0.4rem;
			margin-bottom: 0;
		}
		img{
			width: 35px;
			height: 20px;
			@include transformY(0, 25%);
		}
		.asset-text-area{
			position: relative;
			@include transformY(35%, -30%);
			p{
				width: 80px;
				line-height: 1.2;
				font-size: 0.7rem;
				margin-left: 10px;
			}
		}
		.item-util-control{
			box-shadow: inset 1px 0 0 0 $black;
			border-left: 1px solid $light-grey;
			background-color: $dark-grey;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			list-style: none;
			color: $base;
			padding: 0.5rem 0.2rem;
			&:hover{
				background-color: $button-hover-color;
				color: white;
			}
			&:active{
				background-color: $button-active-color;
			}
		}
	}
	.task-container{
		display: none !important;
	}
}
.expanded{
	.item-expand{
		i{
		-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
				transform: rotate(180deg);
		}
	}
	.task-container{
		display: block !important;
		top: 0;
		height: auto;
		z-index: 100000;
		background-color: $dark-grey;
		padding: 0.4rem;
		font-size: 0.7rem;
		.table-head{
			width: 100%;
			display: flex;
			flex-direction: row;
			flex: no-wrap;
			align-content: space-betwee;
			border-bottom: 1px solid $charcoal;
			font-weight: $font-weight-bold;
			input[type="checkbox"] + label{
				margin-top: -0.6rem;
				margin-left: 0.4rem;
			}
			> div{
				width: 23%;
			}
		}
		.task-info-item{
			width: 100%;
			display: flex;
			flex-direction: row;
			flex: no-wrap;
			align-content: space-betwee;
			border-bottom: 1px solid $charcoal;
			padding: 0.4rem 0;
			input[type="checkbox"] + label{
				margin-top: -0.6rem;
				margin-left: 0.4rem;
			}
			> div{
				width: 23%;
			}
			i{
				position: relative;
				@include transformY(0, 20%);
				margin: 0 0.4rem;
			}
			.global-asset{
				color: transparent;
			}
			&.is-global{
				.global-asset{
					color: $base;
				}
			}
			.task-item-menu{
				display: none;
			}
			&.item-selected{
				.task-item-menu{
					display: block;
				}
			}
			&.item-selected.is-global{
				.global-asset{
					color: $white;
				}
			}
		}
	}
}
.list-footer{
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	p.result-display{
		width: 100%;
	}
}
.list-results-count{
	width: 100%;
	height: 20px;
	bottom: 0;
	background-color: $mid-grey;
	box-sizing: border-box;
	padding: 0.2rem 0;
	align-items: center;
	align-content: center;
}
.pagination-container{
	display: relative;
	float: right !important;
	margin-top: -30px;
	.button{
		margin-top: 3px;
		margin-bottom: 0;
		&:last-of-type{
			margin-left: 0;
			margin-right: 0;
		}
	}
	p{
		margin-top: 5px;
	}
	div{
		float: left;
		margin-right: 0.6rem;
	}
	.current-page-input{
		width: 50px;
	}
}
