.loader {
  margin: 24px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(255, 255, 255, 0.2);
  border-right: 0.5em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left: 0.5em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;

}
.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.asset-area{
	border-right: 1px $light-grey solid;
	overflow: none;
}
.asset-panel{
	padding: 0.4rem 0 0.4rem;
	height: 100vh;
	.asset-list-header{
		padding: 0 1rem;
		.asset-panel-title{
			line-height: 1;
		}
		.asset-header{
			align-content: space-around !important;
			padding: 0.2rem 0;
			margin-top: 0.6rem;
			label{
				margin-top: -0.5rem;
			}
			.clear-assets{
				font-size: 0.6rem;
				margin-left: 5px;
			}
			.assets-action-items{
				margin-top: -25px;
				margin-right: -0.7rem;
				a{
					color: $base;
					font-size: $paragraph-font-size;
				}
			}
			img{
				width: $icon-size;
				height: $icon-size;
				margin-left: 5px;
			}
		}
	}
	.mavis-button{
		margin-left: 10px;
	}

	.adv-search{
		font-size: 70%;
	}
}
/*.asset-list-area{
	overflow-y: auto !important;
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
}*/
.asset-item-list{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
	li:first-child .asset-item-container{
		border-top: 0;
	}
	li:last-child .asset-item-container{
		border-bottom: 1px solid $black;
	}
	.asset-item-container{
		box-shadow: inset 0 1px 0 0 $light-grey;
		border-top: 1px solid $black;
		padding: 0.2rem 0 0;
		height: 50px;
		position: relative;
		min-width: 220px;
		cursor: pointer;
		box-sizing: border-box;
		background-color: $mid-grey;
		clear: both;
		input[type="checkbox"] + label{
			margin: 0.1rem 0.4rem 0 0.6rem;
		}
		img{
			width: 50px;
			height: auto;
			margin-right: 0.4rem;
			-webkit-transform: translateY(25%);
				-ms-transform: translateY(25%);
					transform: translateY(25%);
		}
		.asset-text-area{
			position: absolute;
			left: 90px;
			p{
				width: 110px;
				line-height: 1;
				font-size: 0.7rem;
				margin-left: 10px;
			}
		}
		.item-util-control{
			background-color: $dark-grey;
			height: 100%;
			margin: -0.2rem 0 0;
			position: absolute;
			right: 0;
			list-style: none;
			li{
				height: 50%;
				padding: 0.1rem 0.2rem 0.3rem 0.3rem;
				background-color: $dark-grey;
				&:hover{
					background-color: $button-hover-color;
					a{
						color: white;
					}
				}
				&:active{
					background-color: $button-active-color;
				}
			}
			.item-menu{
				border-bottom: 1px black solid;
				a{
					color: $base;
				}
			}
			.item-expand{
				a{
					color: $base;
				}
			}
		}
	}
	.task-container{
		display: none !important;
	}
}
.expanded{
	.item-expand{
		i{
		-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
				transform: rotate(180deg);
		}
	}
	.task-container{
		display: block !important;
		top: 0;
		height: auto;
		z-index: 100000;
		background-color: $dark-grey;
		padding: 0.4rem;
		font-size: 0.7rem;
		.table-head{
			width: 100%;
			display: flex;
			flex-direction: row;
			flex: no-wrap;
			align-content: space-betwee;
			border-bottom: 1px solid $charcoal;
			font-weight: $font-weight-bold;
			input[type="checkbox"] + label{
				margin-top: -0.6rem;
				margin-left: 0.6rem;
			}
			> div{
				width: 25%;
			}
		}
		.task-content{
			width: 100%;
			display: flex;
			flex-direction: row;
			flex: no-wrap;
			align-content: space-betwee;
			border-bottom: 1px solid $charcoal;
			padding: 0.4rem 0;
			input[type="checkbox"] + label{
				margin-top: -0.6rem;
				margin-left: 0.6rem;
			}
			> div{
				width: 25%;
			}
		}
	}
}
.list-footer{
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	p.result-display{
		width: 100%;
	}
}
.list-results-count{
	width: 100%;
	height: 20px;
	bottom: 0;
	background-color: $mid-grey;
	box-sizing: border-box;
	padding: 0.2rem 0;
	align-items: center;
	align-content: center;
}
.pagination-container{
	display: relative;
	float: right !important;
	margin-top: -30px;
	.button{
		margin-top: 3px;
		margin-bottom: 0;
		&:last-of-type{
			margin-left: 0;
			margin-right: 0;
		}
	}
	p{
		margin-top: 5px;
	}
	div{
		float: left;
		margin-right: 0.6rem;
	}
	.current-page-input{
		width: 50px;
	}
}
